pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "On_prime_source",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": "select * from sourcedata"
					},
					"dataset": {
						"referenceName": "PostgreSql",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "''"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Cloud_sink",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "select * from destination",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzurePostgreSql",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "''"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Cloud_sink",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "On_prime_source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('On_prime_source').output.count,activity('Cloud_sink').output.count)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Query",
								"value": {
									"value": "@concat(concat('select * from sourcedata where id>',string(activity('Cloud_sink').output.count)),' group by id')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "PostgreSqlSource",
									"query": {
										"value": "@variables('Query')",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "PostgreSql",
									"type": "DatasetReference",
									"parameters": {
										"tablename": "''"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzurePostgreSql",
									"type": "DatasetReference",
									"parameters": {
										"tablename": "destination"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Query": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-22T07:05:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}